@font-face {
    font-family: 'Monoid-Regular';
    src: url('../fonts/Monoid-Regular.ttf') format('truetype');
}

:root {
    --light-background: linear-gradient(to bottom, #EEEEEE, #999999);
    --text-color: #000000;
    --dark-background: linear-gradient(to bottom, #444444, #EEEEEE);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.light {
    --dark-background: var(--light-background, linear-gradient(to bottom, #EEEEEE, #999999));
}

html {
    line-height: 1.15;
      -webkit-text-size-adjust: 100%;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Monoid-Regular', monospace;
    background-image: var(--dark-background, linear-gradient(to bottom, #444444, #EEEEEE));
}

header {
    width: 100%;
}

header h1 {
    margin: 0;
    color: #0F31DF;
    font-size: 3rem;
    text-align: center;
    margin: 16px 0 16px 0;
    margin: 1rem 0 1rem 0;
    text-shadow: 2px  2px 0 #FFB80F,
                -2px  2px 0 #FFB80F,
                 2px -2px 0 #FFB80F,
                -2px -2px 0 #FFB80F;
}

main {
    margin: .5em;
}

footer {
    bottom: 0;
    width: 100%;
    position: fixed;
}

.timer {
    margin: 0 auto;
    color: #FFB80F;
    padding: .5rem;
    border-radius: 14px;
    border: 4px solid #1E90FF;
    background-color: hsla(000, 000%, 000%, 1);
}

.timer__labels {
    display: flex;
    padding: 1em;
    justify-content: space-around;
}

.timer__label {
    display: block;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 5px;
    text-align: center;
    font-family: inherit;
}

.timer__digits {
    color: #FFB80F;
    display: flex;
    font-size: 80px;
    font-size: 5rem;
    padding: 1rem 0;
    justify-content: center;
}

.clock-text,
.clock-digits {
    color: #0F31DF;
    font-size: 80px;
    font-size: 5rem;
    margin: 16px 16px 0 0;
    margin: 1rem 1rem 0 0;
    text-shadow: 2px 2px 0 #FF5F0F,
                 -2px 2px 0 #FF5F0F,
                 2px -2px 0 #FF5F0F,
                 -2px -2px 0 #FF5F0F,
                 8px 8px 0 #F25A0E;
}

.clock-text {
    -ms-text-spacing: 1.5;
    text-spacing: 1.5;
}

.control {
    display: flex;
    max-width: 400px;
    padding: .5em 1em;
    margin: .5rem auto;
    justify-content: space-between;
}

.bttn {
    width: 60px;
    height: 60px;
    display: block;
    color: #1E90FF;
    font-size: 24px;
    font-size: 1.5rem;
    overflow: visible;
    margin-bottom: 8px;
    letter-spacing: 2px;
    text-transform: none;
    font-family: inherit;
    border: 4px solid #1E90FF;
    background-color: #171717;
      -webkit-appearance: button;
}

.footer__link {
    width: 100%;
    height: 40px;
    font-size: .8rem;
    text-align: center;
    font-family: monospace, monospace;
}

.footer__link a {
    color: #333333;
    cursor: pointer;
    text-decoration: none;
    font-family: monospace, monospace;
}

.footer__link a:hover {
    color: #0000AE;
    text-decoration: underline;
}

.modal {
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -ms-grid-row-align: center;
    align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
    justify-content: center;
    background-color: hsla(0, 0%, 0%, .7);
    font-family: 'Monoid-Regular', monospace;
}

.modal__content {
    width: 92%;
    height: 94%;
    color: #FFFFFF;
    max-width: 400px;
    padding: .5em 2em;
    border-radius: 14px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 4px solid #1E90FF;
    background-color: #000000;
    background-image: url("../images/project-paper.png");
}

.modal__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.modal__text {
    color: #FFB80F;
    display: inline-block;
}

.modal__close {
    border: 0;
    color: #1E90FF;
    cursor: pointer;
    line-height: 64px;
    text-align: right;
    font-size: 2.5rem;
    display: inline-block;
    background-color: transparent;
}

.submit__bttn {
    padding: 1em 0;
}

.session__controls {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 30px;
    margin: 20px auto 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.session__controls p {
    margin: .5rem 0;
    color: #FFB80F;
    font-weight: bold;
}

.session__buttons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;    
    max-width: 225px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto 1.2em auto;
}

.time,
.break-short,
.break-long {
    font-size: 2rem;
}

.add {
    border: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: inline-block;
    background: url('../images/plus.png') 0 0;
    background-repeat: no-repeat;
}

.add:hover {
    background-position: -40px 0;
}

.subtract {
    border: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: inline-block;
    background: url('../images/minus.png') 0 0;
    background-repeat: no-repeat;
}

.subtract:hover {
    background-position: -40px 0;
}

.submit__btn .bttn {
    width: 100%;
    height: 50px;
    margin: .5em auto;
    max-width: 375px;
}

.active {
    border: 2px solid #FFB80F;
}

.pill {
    border-radius: 50%;
}

@media only screen and (max-width: 600px) and (min-height: 320px) and (orientation: landscape) {
    header h1 {
        text-align: center;
    }
    .timer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    .control {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: unset;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .bttn {
        width: 32%;
    }
    .pill {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 400px) {
    .pill {
        font-size: 1.5rem;
    }
    .session__buttons {
        max-width: 300px;
    }
}

@media only screen and (min-width: 700px) {
    .timer {
        max-width: 530px;
    }
    .timer__digits {
        font-size: 8rem;
    }
    .session__buttons {
        max-width: 300px;
    }
    .bttn {
        margin: .5em 0;
    }
}
