@font-face {
  font-family: 'Monoid-Regular';
  src: url('../fonts/Monoid-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

article {
  padding: 1rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  background-color: #47494B;
  font-family: 'Monoid-Regular', monospace;
  background-image: url("../images/inspiration-geometry.png");
  background-repeat: repeat;
}

.clock {
  height: 40vh;
  display: flex;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
<<<<<<< Updated upstream
  background-color: #212324;
=======
  background-color: hsla(000,000%,000%, .5);
  width: 98%;
>>>>>>> Stashed changes
}

.clock-digits {
  margin: 0 1rem 0 0;
  color: #26272C;
  font-size: 5rem;
  text-shadow: 2px 2px 0 #FF5F0F,
              -2px 2px 0 #FF5F0F,
              2px -2px 0 #FF5F0F,
              -2px -2px 0 #FF5F0F,
              8px 8px 0 #F25A0E;
}

.controls {
  width: 50%;
  height: 40vh;
  display: flex;
  margin: 0 auto;
  align-items: center;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
}

<<<<<<< Updated upstream
.controls .btn {
  width: 100%;
  height: 60px;
=======
.controls-container .btn {
  margin: 0;
  width: 90%;
  height: 50px;
>>>>>>> Stashed changes
  color: #1E90FF;
  font-size: 1.5rem;
  min-width: 290px;
  max-width: 375px;
  overflow: visible;
  border-radius: 8px;
<<<<<<< Updated upstream
  margin-bottom: 10px;
=======
  text-transform: none;
  font-family: inherit;
>>>>>>> Stashed changes
  border: 4px solid #1E90FF;
  background-color: #000000;
  -webkit-appearance: button;
}

.btn:hover {
  color: #212324;
  border: 4px solid #212324;
  background-color: #1E90FF;
}

.info {
  width: 100%;
  height: 15vh;
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-end;
  background-color: hsla(000,000%,000%, .5);
}

.info-text {
  margin-top: 0;
  color: #565656;
  font-size: .8rem;
  text-align: center;
}

<<<<<<< Updated upstream
=======

.info-text,
.info-text a {
  color: #0F31DF;
  text-decoration: none;
  background-color: transparent;
}

.info-text a:hover {
  font-weight: bold;
}

.modal {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: #202020;
}

.modal-content {
  width: 90%;
  height: 90%;
  color: #FFFFFF;
}

.session-controls {
  display: flex;
  justify-content: space-around;
}

.session-quantity {
  width: 15px;
  height: 15px;
  background-color: #919191;
}

>>>>>>> Stashed changes
@media only screen and (min-width: 400px) {
  .clock-digits {
    font-size: 6rem;
  }
}

@media only screen and (min-width: 500px) {
  .clock-digits {
    font-size: 7rem;
  }
}

@media only screen and (min-width: 600px) {
  .clock-digits {
    font-size: 8rem;
  }
}

@media only screen and (min-width: 600px) {
  .clock-digits {
    font-size: 10rem;
  }
}

@media only screen and (min-width: 700px) {
  .clock-digits {
    font-size: 12rem;
  }
}

@media only screen and (min-width: 800px) {
  .clock-digits {
    font-size: 14rem;
  }
}
