@font-face {
    font-family: 'Monoid-Regular';
    src: url('../fonts/Monoid-Regular.ttf') format('truetype');
}

html {
    line-height: 1.15;
      -webkit-text-size-adjust: 100%;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Monoid-Regular', monospace;
    background-image: linear-gradient(to bottom, #444444, #EEEEEE);
}

header {
    width: 100%;
}

header h1 {
    margin: 0;
    color: #0F31DF;
    font-size: 3rem;
    text-align: center;
    margin: 16px 0 16px 0;
    margin: 1rem 0 1rem 0;
    font-family: 'Monoid-Regular';
    text-shadow: 2px  2px 0 #FFB80F,
                -2px  2px 0 #FFB80F,
                 2px -2px 0 #FFB80F,
                -2px -2px 0 #FFB80F;
}

main {
    margin: 8px;
    display: block;
}

footer {
    bottom: 0;
    width: 100%;
    position: fixed;
}

.timer {
    color: #FFB80F;
    padding: .5em;
    background-color: hsla(000, 000%, 000%, .8);
    background-image: url("../images/project-paper.png");
    background-repeat: repeat;
}

.timer__text,
.timer__digits {
    margin: 8px 0;
    font-size: 80px;
    font-size: 5rem;
    text-align: center;
    font-family: 'Monoid-Regular', monospace;
}

.timer__text {
    font-size: 4rem;
}

.timer__digits {
}

.clock-text,
.clock-digits {
    color: #0F31DF;
    font-size: 80px;
    font-size: 5rem;
    margin: 16px 16px 0 0;
    margin: 1rem 1rem 0 0;
    text-shadow: 2px 2px 0 #FF5F0F,
                -2px 2px 0 #FF5F0F,
                 2px -2px 0 #FF5F0F,
                -2px -2px 0 #FF5F0F,
                 8px 8px 0 #F25A0E;
}

.clock-text {
  -ms-text-spacing: 1.5;
  text-spacing: 1.5;
}

.flash {
    -webkit-animation-name: flash;
  animation-name: flash;
    -webkit-animation-duration: 3000ms;
  animation-duration: 3000ms;
    -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

@-webkit-keyframes flash {
  0% {
    opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  20% {
    opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }

  40% {
    opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  60% {
    opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }

  80% {
    opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  100% {
    opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

@keyframes flash {
  0% {
    opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  20% {
    opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }

  40% {
    opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  60% {
    opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }

  80% {
    opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  100% {
    opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

.control {
    max-width: 400px;
    margin: .5em auto;
}

.bttn {
    width: 100%;
    height: 50px;
    display: block;
    color: #1E90FF;
    cursor: pointer;
    font-size: 24px;
    font-size: 1.5rem;
    overflow: visible;
    font-weight: bold;
    margin-bottom: 8px;
    text-transform: none;
    font-family: inherit;
    border: 3px solid #1E90FF;
    background-color: #171717;
    font-family: 'Monoid-Regular', monospace;
      -webkit-appearance: button;
}

.bttn:hover {
    background-color: #343434;
}

.footer__link {
    width: 100%;
    font-size: .8rem;
    text-align: center;
    font-family: monospace, monospace;
}

.footer__link a {
    color: #333333;
    cursor: pointer;
    text-decoration: none;
    font-family: monospace, monospace;
}

.footer__link a:hover {
    color: #0000AE;
    text-decoration: underline;
}

.modal {
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    height: 100%;
    display: none;
    position: fixed;
      -webkit-box-align: center;
      -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
    justify-content: center;
    background: linear-gradient(hsla(0, 0%, 0%, 1), hsla(0, 0%, 0%, .7));
}

.modal-content {
    width: 96%;
    height: 96%;
    padding: 1em;
    color: #FFFFFF;
    max-width: 350px;
    max-height: 575px;
    box-sizing: border-box;
    background-color: #333333;
    border: 2px solid #CCCCCC;
    background-image: url("../images/project-paper.png");
}

form {
    display: flex;
    min-height: 400px;
    flex-direction: column;
    justify-content: space-between;
}

label {
    display: block;
    margin-bottom: 1em;
}

input[type="radio"] {
    width: 16px;
    height: 16px;
    outline: none;
    appearance: none;
    margin-right: 15px;
      -moz-appearance: none;
      -webkit-appearance: none;
    border-radius: 50%;
    background-color: #FFFFFF;
}

input[type="radio"]:checked {
    border: 5px solid #1E90FF;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.modal-text {
    color: #F25A0E;
}

.settings {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 325px;
      -webkit-box-align: center;
      -ms-flex-align: center;
    align-items: center;
      -ms-flex-pack: distribute;
    justify-content: space-between;
}

.settings > label {
    max-width: 100px;
}

.work-time,
.break-time {
    margin: 0;
    border: 0;
    width: 90px;
    height: 70px;
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    font-family: inherit;
    background-color: transparent;
    border-bottom: 4px solid #F25A0E;
}

.increase-time,
.decrease-time,
.increase-break,
.decrease-break {
    margin: 0;
    color: #FFFFFF;
    font-size: 56px;
    font-size: 3.5rem;
    font-weight: bold;
    font-family: inherit;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    user-select: none;
}

.icon-bttn {
    border: none;
    background-color: transparent;
}

.submit-btn .btn {
    width: 90%;
    height: 50px;
    min-width: 290px;
    max-width: 375px;
    margin-top: 16px;
    margin-top: 1rem;
}

@media only screen and (max-width: 600px) and (min-height: 320px) and (orientation: landscape) {
    form {
        flex-direction: row;
    }
    .modal-content {
        width: 96%;
        height: 96%;
        max-width: 575px;
        max-height: 350px;
    }
    .modal-content h2,
    .modal-content h3 {
        margin: 0;
    }
    .bttn {
        font-size: 1.2rem;
    }
    header h1 {
        text-align: center;
    }
    .timer {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .control {
        display: flex;
        max-width: unset;
        align-items: center;
        justify-content: space-between;
    }
    .bttn {
        width: 32%;
    }

    /*
    .controls {
      width: 100%;
    }
    .controls-container {
      width: 100%;
      max-width: 600px;
      flex-direction: row;
      justify-content: space-around;
    }
    .btn {
      width: 30%;
      min-width: 100px;
      max-width: 175px;
    }
    */

}

@media only screen and (min-width: 400px) and (orientation: portrait) {
    /*
  .clock-digits {
    font-size: 6rem;
  }
  */
}

@media only screen and (min-width: 500px) and (orientation: portrait) {
    /*
  .clock-digits {
    font-size: 7rem;
  }
  */
}

@media only screen and (min-width: 600px) and (orientation: portrait) {
    /*
  .clock-digits {
    font-size: 8rem;
  }
  */
}

@media only screen and (min-width: 700px) and (orientation: portrait) {
    .clock-digits {
        font-size: 10rem;
        text-shadow: 2px   2px  0 #FF5F0F,
                    -2px   2px  0 #FF5F0F,
                     2px  -2px  0 #FF5F0F,
                    -2px  -2px  0 #FF5F0F,
                     10px  10px 0 #F25A0E;
  }
}

@media only screen and (min-width: 800px) and (orientation: portrait) {
    /*
  .clock-digits {
    font-size: 12rem;
  }
  */
}

@media only screen and (min-width: 900px) {
    /*
  .clock-digits {
    font-size: 13rem;
  }
  */
}

@media only screen and (min-width: 1000px) {
    /*
  .clock-digits {
    font-size: 14rem;
  }
  */
}

@media only screen and (min-width: 1200px) {
    /*
  .clock {
      -webkit-box-align: center;
      -ms-flex-align: center;
      -ms-grid-row-align: center;
    align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
    justify-content: center;
  }

  .clock-digits {
    font-size: 16rem;
    text-shadow: 2px 2px 0 #FF5F0F,
      -2px 2px 0 #FF5F0F,
      2px -2px 0 #FF5F0F,
      -2px -2px 0 #FF5F0F,
      12px 12px 0 #F25A0E;
  }
  */
}
